<a href="https://colab.research.google.com/github/BragatteMAS/R/blob/master/How_2_lag%26lead.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## How 2
R Script to compare values across one column along the previous (or next) line of the same column? Functions `{lag}` and `{lead}`!

[Ref](https://twitter.com/curso_r/status/1683827972199919616)actor by [BragatteMAS](https://github.com/BragatteMAS)

In [5]:
## install pacman for simplify next install packages and load libs
install.packages("pacman")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
## installation and loading
pacman::p_load(vroom, dplyr) # tidyverse optional

### Previous values

In [12]:
## create e.g.
tab <- tibble::tibble(
    measure = c(1,1,2,3,5,8,13)
)

In [13]:
## e.g. with dplyr
tab |>
  dplyr::mutate(
  lag_measure = dplyr::lag(measure),
  flag_rise = measure > lag_measure
  )

  measure lag_measure flag_rise
1  1      NA             NA
2  1       1          FALSE
3  2       1           TRUE
4  3       2           TRUE
5  5       3           TRUE
6  8       5           TRUE
7 13       8           TRUE

In [16]:
## Individual e.g.
tabs <- tibble::tibble(
    fib = c(1,1,2,3,5,8,13),
    primes = c(2,3,5,7,11,13,17)
)

In [18]:
## lag for individual lines
tabs |>
  dplyr::group_by(fib) |>
    dplyr::mutate(
      lag_measure = dplyr::lag(primes)
    )

  fib primes lag_measure
1  1   2     NA
2  1   3      2
3  2   5     NA
4  3   7     NA
5  5  11     NA
6  8  13     NA
7 13  17     NA

### Next values

In [ ]:
## next value use
dplyr::lead()